# -*-mode:ssh-config-*- vim:ft=sshconfig

# ~/.ssh/config
# =============================================================================
# OpenSSH client configuration.
#
# See https://www.ssh.com/ssh/config
#
# {{- /* This file supports Go's text/template language. */}}

# Skip newer or system-specific unmatched options.
IgnoreUnknown AddKeysToAgent,UseKeychain

Host clark
      HostName 116.203.182.75
      Port 22
      User kavii

Host vastai-kavii-direct
    HostName 171.247.159.187
    Port 45446
    User root
    IdentityFile ~/.ssh/id_ed25519_speechify
    ForwardAgent yes
    LocalForward 8080 localhost:8080

Host vastai-kavii
    HostName ssh2.vast.ai
    Port 20029
    User root
    IdentityFile ~/.ssh/id_ed25519_speechify
    ForwardAgent yes
    LocalForward 8080 localhost:8080

Host *
    {{ if ne .chezmoi.os "windows" -}}
    # Accelerate connections by reusing existing connections to the same host.
    ControlMaster auto
    ControlPath ~/.ssh/controlmasters/%r@%h:%p
    ControlPersist 5
    {{- end }}

    # Allow storing passphrases in the macOS keychain.
    # See https://developer.apple.com/library/archive/technotes/tn2449/_index.html
    AddKeysToAgent yes
    UseKeychain yes

    # Keep the connection temporarily open by sending a data every few minutes.
    ServerAliveCountMax 6
    ServerAliveInterval 300

    # Disable client-side roaming support for security reasons.
    # See https://www.upguard.com/blog/fixing-the-new-openssh-roaming-bug
    UseRoaming no
